.header {
    background-color: var(--black);
    width: 100%;
    height: 100vh;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 33%;
        background-color: var(--primary);
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    &__logo {
        width: 170px;
        height: 48px;
        cursor: pointer;
    }

    &__nav {
        position: relative;
        z-index: 1;
    }

    &__list {
        display: flex;
        column-gap: 60px;
    }

    &__item {}

    &__item-link {
        transition: color .3s ease-in;

        &--active {
            color: var(--current);
        }

        &:hover {
            color: var(--current);
        }
    }

    &__status {
        position: relative;
        z-index: 1;
        display: flex;
        column-gap: 40px;
        align-items: center;
    }

    &__btn-cart {
        position: relative;
        cursor: pointer;

        span {
            position: absolute;
            font-size: 9px;
            color: var(--black);
            background-color: var(--light);
            border-radius: 50px;
            right: -9px;
            top: -5px;
            padding: 0px 4px;
        }
    }

    &__btn {
        border: solid 1px var(--light);
        padding: 16px 31px;
        cursor: pointer;
        transition: all .3s ease-in;

        &:active {
            background-color: #ffffff2f;
        }
    }

    &__content {
        display: flex;
        padding-top: 86px;
        justify-content: space-between;
        position: relative;
    }

    &__content-title {
        font-size: 72px;
        line-height: 86px;
        font-weight: 400;
        max-width: 556px;
        padding-bottom: 45px;
    }

    &__content-text {
        color: var(--greyText);
        max-width: 556px;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 53px;
    }

    &__content-btn {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }

    &__btn-bg {
        padding: 21px 34px;
        background-color: var(--primary);
        transition: all .3s ease-in;

        &:active {
            background-color: #2d9ae8;
            transform: translate(0px, 3px);
        }
    }

    &__btn-transparent {
        transition: color .3s ease-in;

        &:hover {
            color: var(--primary);
        }

        &:active {
            color: var(--fire);
        }
    }

    &__content-left {
        position: relative;
        transform: rotate(-90deg);
        display: flex;
        gap: 22px;
        color: var(--greyText);
        top: -219px;
        left: -23px;
        transform-origin: top left;
        font-size: 11px;

        a:hover {
            color: var(--primary);
        }
    }

    &__bg {
        position: relative;
        z-index: 1;
    }
}


.button {}

.title__link {
    display: flex;
    align-items: center;
    color: var(--primary);
    column-gap: 10px;
    text-transform: uppercase;
    padding-bottom: 14px;
    transition: color .3s ease-in;

    &:hover {
        color: var(--fire);
    }
}