.sponsors {
    padding: 128px 0;
    background-color: var(--bgSponors);
    color: var(--black);


    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 44px;

    }

    &__title {}

    &__desc {
        max-width: 550px;
        color: var(--desc);
        font-size: 16px;
        text-align: center;
    }

    &__img {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in;

        img:hover {
            border-radius: 10px;
            background-color: #ffffff64;
        }
    }
}

.title {
    font-size: 48px;
    line-height: 58px;
}

.text {
    color: var(--desc);
    font-size: 16px;
    text-align: center;
}