:root {
    --light: #FFF;
    --primary: #57B8FF;
    --greyText: #80858F;
    --black: #000;
    --current: #FAC422;
    --bgSponors: #FDD04A;
    --fire: #FE691E;
    --desc: #555;
    --blockBg: rgba(255, 255, 255, 0.15);
    --blockText: rgba(223, 223, 223, 0.80);
    --shadow: #ffffff64;
    --customBg: #2A313C;
    --arrowSlider: #3F8CFF;
    --footerBg: #222730;
    --footerText: #999;
    --footerIconBg: #383D45;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    font-weight: 400;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 48px;
    line-height: 58px;
}

.text {
    color: var(--desc);
    font-size: 16px;
    text-align: center;
}


.button {
    padding: 21px 34px;
    background-color: var(--primary);
    transition: all .3s ease-in;

    &:active {
        background-color: #2d9ae8;
        transform: translate(0px, 3px);
    }
}

.title__link {
    display: flex;
    align-items: center;
    color: var(--primary);
    column-gap: 10px;
    text-transform: uppercase;
    padding-bottom: 14px;
    transition: color .3s ease-in;

    &:hover {
        color: var(--fire);
    }
}